<div class="favoritesbox">
  <div class="favoritestitle">
    <h1>我的最愛</h1>
    <p-button label="查看更多" styleClass="p-button-rounded p-button-success"></p-button>
  </div>
  <div class="favoritessystem">

    <p-card class="pcardsbox">
      <div class="cardup">
        <img src="../../../assets/system_icon/assignment.png" alt="image" style="border-radius: 5px;">
      </div>
      <div class="carddown">
        <strong>門診醫囑系統</strong>
      </div>
    </p-card>

    <p-card class="pcardsbox">
      <div class="cardup">
        <img src="../../../assets/system_icon/heart.png" alt="image" style="border-radius: 5px;">

      </div>
      <div class="carddown">
        <strong>心臟移植表單</strong>
      </div>
    </p-card>

    <p-card class="pcardsbox">
      <div class="cardup">
        <img src="../../../assets/system_icon/connect.png" alt="image" style="border-radius: 5px;">
      </div>
      <div class="carddown">
        <strong>電子病歷查詢系統</strong>
      </div>
    </p-card>

    <p-card class="pcardsbox">
      <div class="cardup">
        <img src="../../../assets/system_icon/hotel.png" alt="image" style="border-radius: 5px;">
      </div>
      <div class="carddown">
        <strong>住院醫囑系統</strong>
      </div>
    </p-card>

  </div>
</div>
